
<div>
	
<% if @income_reference.any? %>
	<div class="col-md-6" style="float: left" id="chart 2"><%= high_chart("dashboard_expense", @incomes_chart) %></div>
<% else %>
	<div class="col-md-6 text-danger text-center" style="float: left; margin-top: 50px"><b> No incomes in <%= params[:month_select] %></b></div>
	
<% end %>

<% if @expense_reference.any? %>
	<div class="col-md-6" style="float: left" id="chart 1"><%= high_chart("dashboard_income", @expenses_chart) %></div>
<% else %>
	<div class="col-md-6 text-danger text-center" style="float: left; margin-top: 50px"><b> No expenses in <%= params[:month_select] %></b></div>
	
<% end %>
</div>