
<div class="col-md-6" style="float: left" id="chart 2"><%= high_chart("dashboard_expense", @incomes_chart) %></div>
<div class="col-md-6" style="float: left" id="chart 1"><%= high_chart("dashboard_income", @expenses_chart) %></div>